body { 
 /*background-image: url(images/runway.jpg);
 background-repeat: no-repeat;*/
 background-color: #FFF47D;
}

h1 {
color: black;
text-shadow: 4px 5px silver;
font-size:40px;
text-align:center
font-style: Normal;
font-weight: Bold;
}


.content { 
  padding:10px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:10px;
 }

 
 .block {
text-align: center;
width: 100%;
z-index: -10;
}

.block1 {
text-align: center;
width: 100%;
z-index: -10;
}

h2{ 
color:#1BA09C;
font-size:30px;
/*position:absolute;
left:990px;
bottom:450px;
}*/

h2:hover {
color:#EC853D;
}