body {
background-color: white;
/*text-align: center;*/
}


h1 {
color:#1BA09C;	
font-size:40px;
/*position:absolute;
left:100px;
top:180px;*/
text-align:center
font-style: Normal;
font-weight: Bold;
text-shadow: 4px 5px #FFF47D;

}

.content { 
  padding:10px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }


.block {
text-align: center;
width: 100%;
z-index: -10;
}

.block1 {
text-align: center;
width: 100%;
z-index: -10;
}

h2{ 
font-size:30px;
color:#1BA09C;
/*position:absolute;
left:990px;
bottom:450px;*/
/*float:right;*/
/*padding-bottom: 50pt;*/ 
}

h2:hover {
/*text-shadow:4px 5px #EC853D;*/
color:#EC853D;

}

