body {
background-color:#FFF47D /*silver*/;
/*text-align: center;*/
}


h1 {
color:/*#1BA09C*/black;	
font-size:60px;
/*position:absolute;
left:100px;
top:180px;*/
text-align:center
font-style: Normal;
font-weight: Bold;
text-shadow: 4px 5px silver;

}

.content { 
  padding:10px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }


.block {
text-align: center;
width: 100%;
z-index: -10;
}

.block1 {
text-align: center;
width: 100%;
z-index: -10;
}

/*h2{ 
font-size:20px;
color:black;
position:absolute;
text-align:center
left:990px;
bottom:350px;
float:right;
padding-bottom: 50pt; 
}*/

h2 {
	font-size:20px;
	position:absolute;
	left:300px; 
}

/*h2 { 
font-size:15px;
color:black;
position:absolute;
left:850px;
bottom:60px;
}*/

/*h2:hover {*/
/*text-shadow:4px 5px #EC853D;*/
/*color:#EC853D;*/
/*background-color:silver;*/
/*}*/

  .blink {
      animation: blinker 0.6s linear infinite;
      color: black;
      text-shadow:4px 5px silver;
      font-size: 20px;
      font-weight: bold;
      font-family: sans-serif;
      position:absolute;
      left:850px;
      bottom:40px;
      }
      
      .blink-two {
      animation: blinker-two 1.4s linear infinite;
      }
      @keyframes blinker-two {  
      100% { opacity: 0; }
      }
